absl-py
annotated-types
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cycler
Flask
flatbuffers
fonttools
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
jax
jaxlib
Jinja2
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
optional-django
packaging
pdf2image
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
pytesseract
python-dateutil
requests
rsa
scipy
sentencepiece
six
sounddevice
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
